* {
    box-sizing: border-box;
}
/* FOR CONTROL */

/* COLORS */
.Blue {
    color: #003049;
}

.Red {
    color: #D62828;
}

.Yellow-Orange {
    color: #F77F00;
}

.Yellow {
    color: #FCBF49;
}

.Light-Yellow {
    color: #EAE2B7;
}

.Blue-Background {
    background-color: #003049;
}

.Red-Background {
    background-color: #D62828;
}

.Yellow-Orange-Background {
    background-color: #F77F00;
}

.Yellow-Background {
    background-color: #FCBF49;
}

.Light-Yellow-Background {
    background-color: #EAE2B7;
}

/* TYPEFACE */

.Lowercase-Logo {
    font-family: 'Roboto Slab', serif;
}

.Lanao-Logo {
    font-family: 'Cookie', cursive;
    font-size: 2rem;
}

.Page-Heading {
    font-size: 2rem;
    color: #003049;
    margin: 1rem 0;
}

/* GRID */
nav,
footer,
article {
    display: flex;
    justify-content: space-between;
}

nav, 
footer {
    background-color: #FFF;
    z-index: 5;
}

/* FLEX BOX */
.Flex-Box {
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION */
nav {
    border-bottom: 1px solid #202020;
    position: fixed;
    width: 100%;
    padding: 1.5rem;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 1rem;
}


.Navigation-Sub-Header {
    margin: 0;
    font-size: 0.7rem;
    color: #404040;
}

/* FOOTER */
footer {
    border-top: 1px solid #202020;
    padding: 1.5rem;
}

/* MAIN */
main {
    height: 90vmin;
    position: relative;
    padding-top: 7rem;
    padding-left: 1.5rem;
}

main h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 5px;
}

/* LINKS */
a:link,
a:visited {
    cursor: pointer;
    color: #003049;
    text-decoration: none;
}

a:hover {
    color: #D62828;
    text-decoration: underline;
}

/* FORMS */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: #003049;
}

input {
    border: none;
    border-bottom: 1px solid #003049;
    background-color: #EAE2B7;
    width: 85%;
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #F77F00;
    font-weight: lighter;
    font-style: italic;
}

button {
    font-size: 0.9rem;
    color: #003049;
    height: 3rem;
    width: 10%;
    border: none;
}

button:hover {
    background-color: #003049;
    color: #FFF;
}

/* Search bar */
.SearchBar,
.Content-Wrapper,
.Page-Wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.Content-Wrapper {
    height: 50vh;
    overflow: auto;
}

/* Sample List Result */
article {
    /* border: 1px solid black; */
    height: 5rem;
    width: 90%;
    margin: 1rem auto;
}

article h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #003049;
}

.Source {
    font-size: 0.8rem;
    color: #D62828;
}

.Date {
    display: block;
    font-size: 0.9rem;
    color: #F77F00;
}

.Data-Thumbnail {
    border-left: 1rem solid #FFF;
    padding: 1rem;
}

.Data-Thumbnail:hover {
    border-left: 1rem solid #EAE2B7;
}

.Copyright {
    font-size: 0.7rem;
}